div.container section.places {
    border: 0;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}
div.container section.places div.head_title h1 {
    font-size: 30px;
}

div.container section.places div.head_title {
    padding: 30px;
    margin-bottom: -60px;
}

div.container section.places div.articles {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
}

div.container section.places article {
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 390px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    font-size: 30px;
}

div.container section.places article h2 {
    font-size: 30px;
    margin: -5px;
}